<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Perché provarci...sicuramente sarà un fallimento</string>
	<string>Lascia perdere lo studio, sei troppo stupido per farlo</string>
	<string>Errare è umano, ma perché continui a non farne una giusta?</string>
	<string>Quando ti sei tolto dai coglioni la mia giornata è rinata</string>
	<string>Se la merda valesse oro potresti vederti a peso</string>
	<string>Sei un fallimento vivente</string>
	<string>Sei fastidioso come la sabbia nelle mutande!</string>
	<string>Non provarci nemmeno, c&apos;hai il cervello così piccolo che in testa c&apos;hai il posto per l&apos;autoradio!</string>
	<string>Smettila idiota e vai a giocare vicino ai tombini aperti!</string>
	<string>Sei nato nel reparto ostetrico o in quello delle malattie infettive?</string>
	<string>VUOI CHE MUORO???</string>
	<string>SENTO UN FORTE ODORE DI DILUDENDO</string>
</array>
</plist>
